* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

// MIXINS
@mixin font-logo {
    font-family: Shrikhand, "Arial Black", Arial, Verdana, sans-serif;
}

@mixin font-content {
    font-family: Roboto, "Arial Black", Arial, Verdana, sans-serif;
}

// Pour achitecturer la page avec ses principaux blocs
@mixin content-block {
    width: 60vw;
    max-width: 1024px;
    min-width: 290px;
    border: black solid 1px;
}

@mixin center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin blocks-page($grid-area, $background-color) {
    grid-area: $grid-area;
    @include center-row;
    background-color: $background-color;
}

//Style contenu
//section fonctionnement
@mixin place-icon {
    @include center-row;
    padding-right: 15px;
}

@mixin title-icon-position {
    position: relative;
    width: 216px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border: royalblue 1px solid;
}

@mixin style-number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: teal 2px solid;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 205px;
}

//section Restaurants
@mixin place-row {
    @include center-column;
    justify-content: center;
}

//Footer 
@mixin child-footer-icon {
    width: 216px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include font-content();
    font-weight: 500;
    border: royalblue 1px solid;
}

@mixin child-footer {
    width: 216px;
    border: royalblue 1px solid;
    @include font-content;
}

// ARCHITECTURE ET STYLE DES BLOCS PRINCIPAUX DANS LA PAGE
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 4fr 6fr 15fr 3fr;
    grid-template-areas: "logo" "place" "book-section" "functionning" "menus" "footer";
    border: black solid 2px;
    /* SECTION LOGO */
    .logo {
        /* on donne un nom à nos zones du grid: */
        @include blocks-page(logo, red);
    }
    /* SECTION PLACE */
    .place {
        /* on donne un nom à nos zones du grid: */
        @include blocks-page(place, palevioletred);
    }
    /* SECTION BOOK-SECTION */
    .book-section {
        /* on donne un nom à nos zones du grid: */
        @include blocks-page(book-section, grey);
    }
    /* SECTION FUNCTIONNING */
    .functionning {
        /* on donne un nom à nos zones du grid: */
        @include blocks-page(functionning, yellow);
    }
    /* SECTION MENUS */
    .menus {
        @include blocks-page(menus, rgb(150, 208, 241));
    }
    /* SECTION FOOTER */
    .footer {
        /* on donne un nom à nos zones du grid: */
        @include blocks-page(footer, rgb(166, 157, 223));
    }
}

// STYLE ET MISE EN FORME DU BLOC ENFANT DANS CHACUN DES BLOCS PRINCIPAUX
// section header
.content-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    @include font-logo;
    @include center-row;
    @include content-block;
}

// section Paris, Belleville
.content-place {
    height: auto;
    background-color: darkturquoise;
    @include font-content;
    @include center-row;
    @include content-block;
    &__bloc-map-icon {
        @include center-row;
    }
    &__map-icon {
        padding-bottom: 4px;
    }
    &__title-map-icon {
        padding-left: 10px;
    }
}

// section "Réserver...convient"
.content-book-section {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color: plum;
    @include font-content;
    @include center-column;
    @include content-block;
    h2 {
        font-size: 25px;
    }
    p {
        text-align: center;
        font-weight: 100;
    }
    &__explore-restaurant {
        width: 200px;
        border: black solid 1px;
        p {
            font-weight: 500;
        }
    }
}

// section fonctionnement
.content-functionning {
    height: auto;
    padding-bottom: 40px;
    @include font-content;
    @include content-block;
    h2 {
        font-size: 25px;
    }
    &__place-choices {
        @include center-row;
    }
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 500;
    width: 75%;
    background-color: salmon;
    @include font-content;
    &__choice-rest {
        @include title-icon-position;
    }
    &__un {
        @include style-number;
    }
    &__icon-mobile {
        @include place-icon;
    }
    &__compose-menu {
        @include title-icon-position;
    }
    &__deux {
        @include style-number;
    }
    &__icon-list {
        @include place-icon;
    }
    &__enjoy-menu {
        @include title-icon-position;
    }
    &__trois {
        @include style-number;
    }
    &__icon-store {
        @include place-icon;
    }
}

// section menus
.content-menus {
    min-width: 290px;
    height: auto;
    @include font-content;
    @include content-block;
    &__row1 {
        @include place-row;
    }
    &__row2 {
        @include place-row;
    }
}

.cube-menu {
    position: relative;
    width: 290px;
    background-color: thistle;
    border: blue 2px solid;
    .img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &__new {
        position: relative;
        background-color: blue;
    }
    &__text-new {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 6px 6px 6px 6px;
        color: navy;
        background-color: greenyellow;
    }
    &__details-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "details-menu-titres details-menu-coeur";
    }
    &__details-menu-titles {
        grid-area: details-menu-titres;
        padding-left: 10px;
        padding-bottom: 20px;
        h3 {
            font-size: 14px;
            margin-bottom: 0px;
        }
        p {
            margin-top: 3px;
            margin-bottom: 0px;
            font-size: 12px;
            font-weight: 100;
        }
    }
    &__details-menu-heart {
        grid-area: details-menu-coeur;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 67px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
}

// FOOTER
.content-footer {
    height: 100%;
    @include content-block;
    h3 {
        @include font-logo
    }
    p {
        margin: 0px;
    }
    &__proposal-rest {
        @include child-footer-icon;
    }
    &__icon-ustensils {
        @include center-row;
        padding-right: 21px;
    }
    &__choose-partner {
        @include child-footer-icon;
    }
    &__icon-handshake {
        @include center-row;
        padding-right: 15px;
    }
    &__legal-notice {
        @include child-footer;
    }
    &__contact {
        @include child-footer;
    }
}