// FOOTER
.content-footer {
    height: 100%;
    @include content-block;
    h3 {
        @include font-logo;
        // version desktop
        @media screen and (min-width: 992px) {
            font-size: 28px;
        }
    }
    p {
        margin: 0px;
    }
    &__proposal-rest {
        @include child-footer-icon;
    }
    &__icon-ustensils {
        @include center-row;
        padding-right: 21px;
    }
    &__choose-partner {
        @include child-footer-icon;
    }
    &__icon-handshake {
        @include center-row;
        padding-right: 15px;
    }
    &__legal-notice {
        @include child-footer;
    }
    &__contact {
        @include child-footer;
    }
    // version tablette
    @media screen and (min-width: 768px) and (max-width: 992px) {
        @include center-column;
        justify-content: center;
    }
    // version desktop
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 726px;
    }
}