.frame {
    width: 60vw;
    max-width: 1024px;
    min-width: 290px;
    // border: black solid 1px;
    // version desktop
    @media screen and (min-width: 992px) {
        // min-width: 726px;
        min-width: 806px;
    }
}