* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
    border: black solid 2px;
}

header {
    /* on donne un nom aux zones du grid: */
    grid-area: header;
    background-color: red;
}

.main-home {
    grid-area: main;
    background-color: rgb(77, 185, 247);
}

footer {
    /* on donne un nom aux zones du grid: */
    height: fit-content;
    grid-area: footer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslateblue;
}