// Header
.sidebar {
    &__logo--page {
        display: flex;
        width: 100%;
        // version tablette
        @media screen and (min-width: 768px) and (max-width: 992px) {
            display: flex;
            flex-direction: row;
        }
        // version desktop
        @media screen and (min-width: 992px) {
            flex-direction: row;
        }
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        // version tablette
        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 5%;
        }
        // version desktop
        @media screen and (min-width: 992px) {
            width: 4%;
        }
    }
    &__place-title-page {
        display: flex;
        justify-content: center;
        border: black 1px solid;
        width: 90%;
        // version tablette
        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 95%;
        }
        // version desktop
        @media screen and (min-width: 992px) {
            width: 96%;
        }
    }
    &__title-page {
        // background-color: hotpink;
        h1 {
            // version desktop
            @media screen and (min-width: 992px) {
                // font-size: 50px;
                margin-top: 20px;
                padding-right: 100px;
            }
        }
    }
}

// Main
.hero-page {
    // display: flex;
    // justify-content: center;
    // background-color: hotpink;
    &__img {
        // display: block;
        // justify-content: center;
        // max-height: 100%;
        // min-height: 30%;
        // height: auto;
        width: 100%;
        // height: 50%;
        // height: 300px;
        background-color: mediumorchid;
        // max-width: 1400px;
        // min-width: 310px;
        // background-image: url(./public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-size: cover;
        overflow: hidden;
        // width: 300px;
        height: 320px;
        // version tablette
        @media screen and (min-width: 768px) and (max-width: 992px) {
            height: 400px;
        }
        // version desktop 
        @media screen and (min-width: 992px) {
            // height: 700px;
            height: 50vh;
        }
        img {
            width: 100%;
            transform: translate(0px, -50px);
            // height: 300px;
            // width: auto;
            // height: auto;
            // height: 320px;
            // height: 100%;
            object-fit: cover;
            // display: none;
            // margin: 0 auto;
            // version desktop 
            @media screen and (min-width: 992px) {
                transform: translate(0%, -40%);
                // margin-top: -100px;
                // transform: translate(0px, -20px);
            }
        }
    }
}

.position-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: hotpink;
    position: relative;
    top: -40px;
    border-radius: 40px 40px 0 0;
    // z-index: 4;
    // top: 800px;
    // version desktop 
    @media screen and (min-width: 992px) {
        height: 600px;
    }
}

.stack {
    border: black 1px solid;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title heart";
    &__title {
        grid-area: title;
        padding-left: 10px;
        padding-bottom: 20px;
        // background-color: brown;
    }
    &__action {
        grid-area: heart;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 73px;
        padding-right: 10px;
        padding-bottom: 20px;
        // background-color: cadetblue;
    }
    // version tablette
    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 70%;
    }
}

.stack-section {
    border: black 1px solid;
    padding-left: 10px;
    &__title h4 {
        border-bottom: lawngreen solid 2px;
    }
    &__items {
        width: 98%;
        border: red 2px solid;
        margin-bottom: 20px;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        border: lightslategray 2px solid;
    }
}

.place-stack-section {
    // version tablette
    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    // version desktop 
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-around;
    }
}

.position-button-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    &__button-page {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        width: 50%;
        text-align: center;
        border: mediumorchid 2px solid;
    }
}